<div class="container">
  <div class="row">
    <h1 class="text-center">Play Hangman</h1>
    <p class="lead text-danger text-center">You have <%= @game.lives_left %> lives left!</p>
  </div>

  <div class="row">
    <div class="col-sm-offset-4 col-sm-4 play">

      <div class="bg-info word text-center">
        <p class="lead">Your word is:</p>
        <p><strong><%= @secret_word %></strong></p>
      </div>

      <% flash.each do |key, value| %>
          <p><%= value %></p>
      <% end %>

      <% if @status == :playing %>
        <p class="lead text-center">Make a guess:</p>
        <%= form_for [@game, Turn.new] do |form| %>
          <div class="form-group">
            <%= form.text_field :letter, autofocus: true, class: "form-control" %>
          </div>
            <%= form.submit "Submit", class: "btn btn-default btn-block" %>
        <% end %>
      <% elsif @status == :won %>
        <p class="text-center text-success lead"><strong>Congratulations</strong>, you won!</p>
      <% elsif @status == :lost %>
        <p class="text-center text-danger lead">Bad luck! The word was <strong><%= @word.word %></strong></p>
      <% end %>

      <% if @turns %>
        <div class="bg-danger text-center guesses">
          <p class="lead">Wrong guesses:</p>
          <p><strong><%= @game.wrong_guesses.join" " %></strong></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
